:root{
  --bg-color: red;
}
body {
  background-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  :root{
    --bg-color: rgba(128, 128, 128);
  }
}
@media (prefers-color-scheme: light) {
  :root{
    --bg-color: white;
  }
}

@media all and (min-width:320px) {
  #imageWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  image-wrap-box {
    width: 20vw;
  }
}
@media all and (min-width:768px) {
  #imageWrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  image-wrap-box {
    width: 15vw;
  }
}
@media all and (min-width:1024px) {
  #imageWrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  image-wrap-box {
    width: 10vw;
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#wrap {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.url-input-box {
  width: 80vw;
  display: flex;
  justify-content: center;
  gap: 2vw;
}

img {
  width: 80%;
}
