:root{
  --bg-color: red;
}
body {
  background-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  :root{
    --bg-color: rgba(128, 128, 128);
  }
}
@media (prefers-color-scheme: light) {
  :root{
    --bg-color: white;
  }
}

@media all and (min-width:320px) {
  #imageWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  image-wrap-box {
    width: 20vw;
  }
}
@media all and (min-width:768px) {
  #imageWrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  image-wrap-box {
    width: 15vw;
  }
}
@media all and (min-width:1024px) {
  #imageWrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  image-wrap-box {
    width: 10vw;
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}
#imageWrapper {
  margin-top: 10vh;
}

.uri-input-area{
  position: fixed;
  top: 5%;
}

.url-input-box {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 2vw;
  input {
    border: none;
    background-color: rgba(255, 252, 196, 0.75);
    padding: 1vh 2vw;
    width: 70vw;
    height: 7vh;
    font-size: large;
    border-radius: 30px;
  }
  input:hover {
    background-color: rgba(255, 252, 196, 0.5);
  }
  input:focus {
    outline: none;
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,1);
    background-color: rgba(255, 252, 196, 0.5);
  }
  button {
    border: none;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0);
  }
}

.downlaod-icon {
  width: 3vw;
}

img {
  width: 80%;
  border-radius: 18px;
}

.image-wrap-box {
  input{
    display: none;
  }
  img:hover {
    border: 3px solid rgba(255, 165, 0, 0.5);
  }
}

.image-selected {
  border: 5px solid rgba(255, 89, 0, 0.89);
}
